{% extends 'Employee/Base/base.html' %}
{% load static %}
{% block main-content %}
<style>
    .top {
        text-align: left;
        padding: 20px;
        color: #21325D;
    }

    .profile-circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        /* Hide anything outside the circle */
    }

    .profile-circle img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Ensure the image covers the entire circle */
    }

    .profile-name {
        font-size: 20px;
        margin-top: 10px;
    }

    .profile-application {
        font-size: 16px;
    }


    .section {
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        padding: 10px;
        color: #21325D;
    }

    .section:hover {
        background-color: #f0f0f0;
    }

    .hidden {
        display: none;
    }

    .form-container {
        margin: 20px;
    }
</style>



<div class="container-fluid">

    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Agent</h5>
        </div>

        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url "travel_dashboards" %}">Dashboard</a></li>
                {% comment %} <li><a href="#"><span>form</span></a></li> {% endcomment %}
                <li class="active"><span>Update Agent</span></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->

    </div>
    <!--breadcrumb-->
    <div class="top">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-circle">
                            <img src='{% static ' assets/images/NewLogo.png' %}' alt="" srcset="">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="profile-name">John Doe</div>
                        <div class="profile-application">Application: Web Developer</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="section" onclick="showForm('general')">Personal Details</div>
        </div>
        <div class="col-md-2">
            <div class="section" onclick="showForm('agreement')">Add Agreement</div>
        </div>
        <div class="col-md-2">
            <div class="section" onclick="showForm('kyc')">KYC Details</div>
        </div>
    </div>
    <br><br>
    <!--end breadcrumb-->
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card border-lg-top-white">
                <div class="card-body p-5">

                    <form id="main-form" action="" method="POST" enctype="multipart/form-data">

                        <div class="form-body">
                            <div id="general-form">
                                <div class="card-title d-flex align-items-center">
                                    <div><i class='bx bxs-user mr-1 font-24 text-white'></i>
                                    </div>
                                    <h4 class="mb-0 text-white">General Information</h4>
                                </div>
                                <hr class="light-grey-hr" />
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label mb-10">First Name</label>
                                        <div class="form-group">

                                            <input type="text" name="firstname" id="firstname"
                                                class="form-control border-left-0" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label mb-10">Last Name</label>
                                        <div class="form-group">

                                            <input type="text" name="lastname" id="lastname"
                                                class="form-control border-left-0" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label mb-10">Date Of Birth</label>
                                        <div class="form-group">
                                            <div class="input-group-prepend"> <span class="input-group-text"><i
                                                        class='bx bx-calendar'></i></span>
                                            </div>
                                            <input type="date" name="dob" id="dob" class="form-control border-left-0"
                                                placeholder="Date Of Birth">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Gender</label>
                                            <div class="radio-list">
                                                <div class="radio-inline pl-0">
                                                    <span class="radio radio-info">
                                                        <input class="form-check-input" type="radio" name="gender"
                                                            id="Male" value="True">
                                                        <label class="form-check-label" for="inlineRadio1">Male</label>
                                                    </span>
                                                </div>
                                                <div class="radio-inline">
                                                    <span class="radio radio-info">
                                                        <input class="form-check-input" type="radio" name="gender"
                                                            id="Female" value="False">
                                                        <label class="form-check-label"
                                                            for="inlineRadio2">Female</label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Maritial Status</label>
                                            <div class="radio-list">
                                                <div class="radio-inline pl-0">
                                                    <span class="radio radio-info">
                                                        <input class="form-check-input" type="radio" name="maritial"
                                                            id="Single" value="True">
                                                        <label class="form-check-label"
                                                            for="inlineRadio1">Single</label>
                                                    </span>
                                                </div>
                                                <div class="radio-inline">
                                                    <span class="radio radio-info">
                                                        <input class="form-check-input" type="radio" name="maritial"
                                                            id="Married" value="False">
                                                        <label class="form-check-label"
                                                            for="inlineRadio2">Married</label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Status</label>
                                            <div class="radio-list">
                                                <div class="radio-inline pl-0">
                                                    <span class="radio radio-info">
                                                        <input class="form-check-input" type="radio" name="status"
                                                            id="active" value="True">
                                                        <label class="form-check-label"
                                                            for="inlineRadio1">Active</label>
                                                    </span>
                                                </div>
                                                <div class="radio-inline">
                                                    <span class="radio radio-info">
                                                        <input class="form-check-input" type="radio" name="status"
                                                            id="inactive" value="False">
                                                        <label class="form-check-label"
                                                            for="inlineRadio2">InActive</label>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-sm-6 col-md-6 col-xs-12">
                                    <div class="panel panel-default card-view">
                                        <div class="panel-heading">
                                            <div class="pull-left">
                                                <h6 class="panel-title txt-dark">Original Photograph</h6>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="panel-wrapper collapse in">
                                            <div class="panel-body">
                                                <p class="text-muted">Just add <code>dropify</code> class in input tag.
                                                </p>
                                                <div class="mt-40">
                                                    <input id="image" name="image" type="file"
                                                        accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf"
                                                        multiple>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>

                                <br>
                                <div class="card-title d-flex align-items-center">
                                    <div><i class='bx bxs-user mr-1 font-24 text-white'></i>
                                    </div>
                                    <h4 class="mb-0 text-white">Business Details</h4>
                                </div>
                                <hr class="light-grey-hr" />
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label mb-10">Name Of Organization</label>
                                        <div class="form-group">

                                            <input type="text" name="organization" id="organization"
                                                class="form-control border-left-0"
                                                placeholder="Enter Organization Name">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label mb-10">Business Type</label>
                                        <div class="form-group">

                                            <input type="text" name="business" id="business"
                                                class="form-control border-left-0" placeholder="Enter Business Type">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label mb-10">Registration Number</label>
                                        <div class="form-group">
                                            <div class="input-group-prepend"> <span class="input-group-text"><i
                                                        class='bx bx-calendar'></i></span>
                                            </div>
                                            <input type="text" name="registration" id="registration"
                                                class="form-control border-left-0"
                                                placeholder="Enter Registration Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label mb-10">Address</label>
                                        <textarea class="form-control" name="address" id="address"
                                            placeholder="Enter Address" rows="2" cols="3"></textarea>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label mb-10">Country</label>
                                        <div class="form-group">
                                            <select class="form-control" name="country" id="country">

                                                <option value="Afghanistan">Afghanistan</option>
                                                <option value="Albania">Albania</option>
                                                <option value="Algeria">Algeria</option>
                                                <option value="American Samoa">American Samoa</option>
                                                <option value="Andorra">Andorra</option>
                                                <option value="Angola">Angola</option>
                                                <option value="Anguilla">Anguilla</option>
                                                <option value="Antartica">Antarctica</option>
                                                <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                                <option value="Argentina">Argentina</option>
                                                <option value="Armenia">Armenia</option>
                                                <option value="Aruba">Aruba</option>
                                                <option value="Australia">Australia</option>
                                                <option value="Austria">Austria</option>
                                                <option value="Azerbaijan">Azerbaijan</option>
                                                <option value="Bahamas">Bahamas</option>
                                                <option value="Bahrain">Bahrain</option>
                                                <option value="Bangladesh">Bangladesh</option>
                                                <option value="Barbados">Barbados</option>
                                                <option value="Belarus">Belarus</option>
                                                <option value="Belgium">Belgium</option>
                                                <option value="Belize">Belize</option>
                                                <option value="Benin">Benin</option>
                                                <option value="Bermuda">Bermuda</option>
                                                <option value="Bhutan">Bhutan</option>
                                                <option value="Bolivia">Bolivia</option>
                                                <option value="Bosnia and Herzegowina">Bosnia and Herzegowina
                                                </option>
                                                <option value="Botswana">Botswana</option>
                                                <option value="Bouvet Island">Bouvet Island</option>
                                                <option value="Brazil">Brazil</option>
                                                <option value="British Indian Ocean Territory">British Indian
                                                    Ocean Territory</option>
                                                <option value="Brunei Darussalam">Brunei Darussalam</option>
                                                <option value="Bulgaria">Bulgaria</option>
                                                <option value="Burkina Faso">Burkina Faso</option>
                                                <option value="Burundi">Burundi</option>
                                                <option value="Cambodia">Cambodia</option>
                                                <option value="Cameroon">Cameroon</option>
                                                <option value="Canada">Canada</option>
                                                <option value="Cape Verde">Cape Verde</option>
                                                <option value="Cayman Islands">Cayman Islands</option>
                                                <option value="Central African Republic">Central African
                                                    Republic</option>
                                                <option value="Chad">Chad</option>
                                                <option value="Chile">Chile</option>
                                                <option value="China">China</option>
                                                <option value="Christmas Island">Christmas Island</option>
                                                <option value="Cocos Islands">Cocos (Keeling) Islands</option>
                                                <option value="Colombia">Colombia</option>
                                                <option value="Comoros">Comoros</option>
                                                <option value="Congo">Congo</option>
                                                <option value="Congo">Congo, the Democratic Republic of the
                                                </option>
                                                <option value="Cook Islands">Cook Islands</option>
                                                <option value="Costa Rica">Costa Rica</option>
                                                <option value="Cota D'Ivoire">Cote d'Ivoire</option>
                                                <option value="Croatia">Croatia (Hrvatska)</option>
                                                <option value="Cuba">Cuba</option>
                                                <option value="Cyprus">Cyprus</option>
                                                <option value="Czech Republic">Czech Republic</option>
                                                <option value="Denmark">Denmark</option>
                                                <option value="Djibouti">Djibouti</option>
                                                <option value="Dominica">Dominica</option>
                                                <option value="Dominican Republic">Dominican Republic</option>
                                                <option value="East Timor">East Timor</option>
                                                <option value="Ecuador">Ecuador</option>
                                                <option value="Egypt">Egypt</option>
                                                <option value="El Salvador">El Salvador</option>
                                                <option value="Equatorial Guinea">Equatorial Guinea</option>
                                                <option value="Eritrea">Eritrea</option>
                                                <option value="Estonia">Estonia</option>
                                                <option value="Ethiopia">Ethiopia</option>
                                                <option value="Falkland Islands">Falkland Islands (Malvinas)
                                                </option>
                                                <option value="Faroe Islands">Faroe Islands</option>
                                                <option value="Fiji">Fiji</option>
                                                <option value="Finland">Finland</option>
                                                <option value="France">France</option>
                                                <option value="France Metropolitan">France, Metropolitan
                                                </option>
                                                <option value="French Guiana">French Guiana</option>
                                                <option value="French Polynesia">French Polynesia</option>
                                                <option value="French Southern Territories">French Southern
                                                    Territories</option>
                                                <option value="Gabon">Gabon</option>
                                                <option value="Gambia">Gambia</option>
                                                <option value="Georgia">Georgia</option>
                                                <option value="Germany">Germany</option>
                                                <option value="Ghana">Ghana</option>
                                                <option value="Gibraltar">Gibraltar</option>
                                                <option value="Greece">Greece</option>
                                                <option value="Greenland">Greenland</option>
                                                <option value="Grenada">Grenada</option>
                                                <option value="Guadeloupe">Guadeloupe</option>
                                                <option value="Guam">Guam</option>
                                                <option value="Guatemala">Guatemala</option>
                                                <option value="Guinea">Guinea</option>
                                                <option value="Guinea-Bissau">Guinea-Bissau</option>
                                                <option value="Guyana">Guyana</option>
                                                <option value="Haiti">Haiti</option>
                                                <option value="Heard and McDonald Islands">Heard and Mc Donald
                                                    Islands</option>
                                                <option value="Holy See">Holy See (Vatican City State)</option>
                                                <option value="Honduras">Honduras</option>
                                                <option value="Hong Kong">Hong Kong</option>
                                                <option value="Hungary">Hungary</option>
                                                <option value="Iceland">Iceland</option>
                                                <option value="India">India</option>
                                                <option value="Indonesia">Indonesia</option>
                                                <option value="Iran">Iran (Islamic Republic of)</option>
                                                <option value="Iraq">Iraq</option>
                                                <option value="Ireland">Ireland</option>
                                                <option value="Israel">Israel</option>
                                                <option value="Italy">Italy</option>
                                                <option value="Jamaica">Jamaica</option>
                                                <option value="Japan">Japan</option>
                                                <option value="Jordan">Jordan</option>
                                                <option value="Kazakhstan">Kazakhstan</option>
                                                <option value="Kenya">Kenya</option>
                                                <option value="Kiribati">Kiribati</option>
                                                <option value="Democratic People's Republic of Korea">Korea,
                                                    Democratic People's Republic of</option>
                                                <option value="Korea">Korea, Republic of</option>
                                                <option value="Kuwait">Kuwait</option>
                                                <option value="Kyrgyzstan">Kyrgyzstan</option>
                                                <option value="Lao">Lao People's Democratic Republic</option>
                                                <option value="Latvia">Latvia</option>
                                                <option value="Lebanon" selected>Lebanon</option>
                                                <option value="Lesotho">Lesotho</option>
                                                <option value="Liberia">Liberia</option>
                                                <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya
                                                </option>
                                                <option value="Liechtenstein">Liechtenstein</option>
                                                <option value="Lithuania">Lithuania</option>
                                                <option value="Luxembourg">Luxembourg</option>
                                                <option value="Macau">Macau</option>
                                                <option value="Macedonia">Macedonia, The Former Yugoslav
                                                    Republic of</option>
                                                <option value="Madagascar">Madagascar</option>
                                                <option value="Malawi">Malawi</option>
                                                <option value="Malaysia">Malaysia</option>
                                                <option value="Maldives">Maldives</option>
                                                <option value="Mali">Mali</option>
                                                <option value="Malta">Malta</option>
                                                <option value="Marshall Islands">Marshall Islands</option>
                                                <option value="Martinique">Martinique</option>
                                                <option value="Mauritania">Mauritania</option>
                                                <option value="Mauritius">Mauritius</option>
                                                <option value="Mayotte">Mayotte</option>
                                                <option value="Mexico">Mexico</option>
                                                <option value="Micronesia">Micronesia, Federated States of
                                                </option>
                                                <option value="Moldova">Moldova, Republic of</option>
                                                <option value="Monaco">Monaco</option>
                                                <option value="Mongolia">Mongolia</option>
                                                <option value="Montserrat">Montserrat</option>
                                                <option value="Morocco">Morocco</option>
                                                <option value="Mozambique">Mozambique</option>
                                                <option value="Myanmar">Myanmar</option>
                                                <option value="Namibia">Namibia</option>
                                                <option value="Nauru">Nauru</option>
                                                <option value="Nepal">Nepal</option>
                                                <option value="Netherlands">Netherlands</option>
                                                <option value="Netherlands Antilles">Netherlands Antilles
                                                </option>
                                                <option value="New Caledonia">New Caledonia</option>
                                                <option value="New Zealand">New Zealand</option>
                                                <option value="Nicaragua">Nicaragua</option>
                                                <option value="Niger">Niger</option>
                                                <option value="Nigeria">Nigeria</option>
                                                <option value="Niue">Niue</option>
                                                <option value="Norfolk Island">Norfolk Island</option>
                                                <option value="Northern Mariana Islands">Northern Mariana
                                                    Islands</option>
                                                <option value="Norway">Norway</option>
                                                <option value="Oman">Oman</option>
                                                <option value="Pakistan">Pakistan</option>
                                                <option value="Palau">Palau</option>
                                                <option value="Panama">Panama</option>
                                                <option value="Papua New Guinea">Papua New Guinea</option>
                                                <option value="Paraguay">Paraguay</option>
                                                <option value="Peru">Peru</option>
                                                <option value="Philippines">Philippines</option>
                                                <option value="Pitcairn">Pitcairn</option>
                                                <option value="Poland">Poland</option>
                                                <option value="Portugal">Portugal</option>
                                                <option value="Puerto Rico">Puerto Rico</option>
                                                <option value="Qatar">Qatar</option>
                                                <option value="Reunion">Reunion</option>
                                                <option value="Romania">Romania</option>
                                                <option value="Russia">Russian Federation</option>
                                                <option value="Rwanda">Rwanda</option>
                                                <option value="Saint Kitts and Nevis">Saint Kitts and Nevis
                                                </option>
                                                <option value="Saint LUCIA">Saint LUCIA</option>
                                                <option value="Saint Vincent">Saint Vincent and the Grenadines
                                                </option>
                                                <option value="Samoa">Samoa</option>
                                                <option value="San Marino">San Marino</option>
                                                <option value="Sao Tome and Principe">Sao Tome and Principe
                                                </option>
                                                <option value="Saudi Arabia">Saudi Arabia</option>
                                                <option value="Senegal">Senegal</option>
                                                <option value="Seychelles">Seychelles</option>
                                                <option value="Sierra">Sierra Leone</option>
                                                <option value="Singapore">Singapore</option>
                                                <option value="Slovakia">Slovakia (Slovak Republic)</option>
                                                <option value="Slovenia">Slovenia</option>
                                                <option value="Solomon Islands">Solomon Islands</option>
                                                <option value="Somalia">Somalia</option>
                                                <option value="South Africa">South Africa</option>
                                                <option value="South Georgia">South Georgia and the South
                                                    Sandwich Islands</option>
                                                <option value="Span">Spain</option>
                                                <option value="SriLanka">Sri Lanka</option>
                                                <option value="St. Helena">St. Helena</option>
                                                <option value="St. Pierre and Miguelon">St. Pierre and Miquelon
                                                </option>
                                                <option value="Sudan">Sudan</option>
                                                <option value="Suriname">Suriname</option>
                                                <option value="Svalbard">Svalbard and Jan Mayen Islands</option>
                                                <option value="Swaziland">Swaziland</option>
                                                <option value="Sweden">Sweden</option>
                                                <option value="Switzerland">Switzerland</option>
                                                <option value="Syria">Syrian Arab Republic</option>
                                                <option value="Taiwan">Taiwan, Province of China</option>
                                                <option value="Tajikistan">Tajikistan</option>
                                                <option value="Tanzania">Tanzania, United Republic of</option>
                                                <option value="Thailand">Thailand</option>
                                                <option value="Togo">Togo</option>
                                                <option value="Tokelau">Tokelau</option>
                                                <option value="Tonga">Tonga</option>
                                                <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                                <option value="Tunisia">Tunisia</option>
                                                <option value="Turkey">Turkey</option>
                                                <option value="Turkmenistan">Turkmenistan</option>
                                                <option value="Turks and Caicos">Turks and Caicos Islands
                                                </option>
                                                <option value="Tuvalu">Tuvalu</option>
                                                <option value="Uganda">Uganda</option>
                                                <option value="Ukraine">Ukraine</option>
                                                <option value="United Arab Emirates">United Arab Emirates
                                                </option>
                                                <option value="United Kingdom">United Kingdom</option>
                                                <option value="United States">United States</option>
                                                <option value="United States Minor Outlying Islands">United
                                                    States Minor Outlying Islands</option>
                                                <option value="Uruguay">Uruguay</option>
                                                <option value="Uzbekistan">Uzbekistan</option>
                                                <option value="Vanuatu">Vanuatu</option>
                                                <option value="Venezuela">Venezuela</option>
                                                <option value="Vietnam">Viet Nam</option>
                                                <option value="Virgin Islands (British)">Virgin Islands
                                                    (British)</option>
                                                <option value="Virgin Islands (U.S)">Virgin Islands (U.S.)
                                                </option>
                                                <option value="Wallis and Futana Islands">Wallis and Futuna
                                                    Islands</option>
                                                <option value="Western Sahara">Western Sahara</option>
                                                <option value="Yemen">Yemen</option>
                                                <option value="Serbia">Serbia</option>
                                                <option value="Zambia">Zambia</option>
                                                <option value="Zimbabwe">Zimbabwe</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label mb-10">Province/State</label>
                                        <div class="form-group">
                                            <div class="input-group-prepend"> <span class="input-group-text"><i
                                                        class='bx bx-buildings'></i></span>
                                            </div>
                                            <input type="text" name="state" id="state"
                                                class="form-control border-left-0" placeholder="State Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label mb-10">City/Town</label>
                                        <div class="form-group">
                                            <div class="input-group-prepend"> <span class="input-group-text"><i
                                                        class='bx bx-buildings'></i></span>
                                            </div>
                                            <input type="text" name="city" id="city" class="form-control border-left-0"
                                                placeholder="City Name">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label mb-10">Zipcode</label>
                                        <div class="form-group">
                                            <div class="input-group-prepend"> <span class="input-group-text"><i
                                                        class='bx bx-buildings'></i></span>
                                            </div>
                                            <input type="text" name="zipcode" id="zipcode"
                                                class="form-control border-left-0" placeholder="Zip Code">
                                        </div>
                                    </div>

                                </div>
                                <br>
                                <div class="card-title d-flex align-items-center">
                                    <div><i class='bx bxs-user mr-1 font-24 text-white'></i>
                                    </div>
                                    <h4 class="mb-0 text-white">Bank Information</h4>
                                </div>
                                <hr class="light-grey-hr" />
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label mb-10">Name Of Account Holder</label>
                                        <div class="form-group">

                                            <input type="text" name="accountholder" id="accountholder"
                                                class="form-control border-left-0"
                                                placeholder="Enter AccountHolder Name">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label mb-10">Bank Name</label>
                                        <div class="form-group">

                                            <input type="text" name="bankname" id="bankname"
                                                class="form-control border-left-0" placeholder="Enter Bank Name">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label mb-10">Branch Name</label>
                                        <div class="form-group">
                                            <div class="input-group-prepend"> <span class="input-group-text"><i
                                                        class='bx bx-calendar'></i></span>
                                            </div>
                                            <input type="text" name="branchname" id="branchname"
                                                class="form-control border-left-0" placeholder="Enter Branch Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="form-group col-md-4">
                                        <label class="control-label mb-10">Account Number</label>
                                        <div class="form-group">
                                            <div class="input-group-prepend"> <span class="input-group-text"><i
                                                        class='bx bx-buildings'></i></span>
                                            </div>
                                            <input type="text" name="account" id="account"
                                                class="form-control border-left-0" placeholder="Account Number">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label mb-10">IFSC Code</label>
                                        <div class="form-group">
                                            <div class="input-group-prepend"> <span class="input-group-text"><i
                                                        class='bx bx-buildings'></i></span>
                                            </div>
                                            <input type="text" name="ifsc" id="ifsc" class="form-control border-left-0"
                                                placeholder="IFSC Code">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="agreement-form" class="hidden">
                                <div class="card-title d-flex align-items-center">
                                    <div><i class='bx bxs-user mr-1 font-24 text-white'></i>
                                    </div>
                                    <h4 class="mb-0 text-white">Agreement Details</h4>
                                </div>
                                <hr class="light-grey-hr" />
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="control-label mb-10">Agreement Name</label>
                                        <div class="form-group">

                                            <input type="text" name="agreementname" id="agreementname"
                                                class="form-control border-left-0" placeholder="Agreement Name">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6 col-xs-12">
                                            <div class="panel panel-default card-view">
                                                <div class="panel-heading">
                                                    <div class="pull-left">
                                                        <h6 class="panel-title txt-dark">Upload Agreement</h6>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="panel-wrapper collapse in">
                                                    <div class="panel-body">
                                                        <p class="text-muted">Just add <code>dropify</code> class in input tag.
                                                        </p>
                                                        <div class="mt-40">
                                                            <input id="image" name="image" type="file"
                                                                accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf"
                                                                multiple>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">

                                        <div class="table-responsive">
                                            <table id="example2" class="table table-striped table-bordered"
                                                style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>S.No.</th>
                                                        <th>Agreement Name</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                        <td>1</td>
                                                        <td>ABC</td>
                                                        <td>
                                                            <div class="row">
                                                                <div class="col-md-6"><a href="http://"><i
                                                                            class='bx bx-trash'
                                                                            style="font-size: 20px;color:white;"></i></a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>S.No.</th>
                                                        <th>Agreement Name</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div id="kyc-form" class="hidden">
                                <div class="card-title d-flex align-items-center">
                                    <div><i class='bx bxs-user mr-1 font-24 text-white'></i>
                                    </div>
                                    <h4 class="mb-0 text-white">Upload Documents</h4>
                                </div>
                                <hr class="light-grey-hr" />
                                <table class="table">
                                    <h5>KYC Document</h5>
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Document Name</th>
                                            <th>Upload Now</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>1</td>
                                            <td>Aadhar Card Front</td>
                                            <td><input type="file" name="file1"></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Aadhar Card Back</td>
                                            <td><input type="file" name="file2"></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>PanCard</td>
                                            <td><input type="file" name="file3"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table">
                                    <h5>Company Document</h5>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Registration Certificate</td>
                                            <td><input type="file" name="file4"></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <br><br>
                        <div class="form-actions mt-10">
                            <button type="submit" class="btn btn-success  mr-10"> Update</button>
                            <button type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



<script>
    function showForm(section) {
        console.log('Toggling form for section: ' + section);

        // Hide all forms
        document.getElementById('general-form').classList.add('hidden');
        document.getElementById('agreement-form').classList.add('hidden');
        document.getElementById('kyc-form').classList.add('hidden');

        // Show the selected form
        document.getElementById(section + '-form').classList.remove('hidden');
    }
</script>
{% endblock main-content %}